---
layout: default
home-title: MAYBESHEWILL
description: Life Record
---

{% include header.html %}

<div class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}" data-theme="{{ site.theme-color }}">
    <h2>{{ page.home-title }}</h2>
    <h3>{{ page.description }}</h3>
    {% if page.header-img %}
    <img class="header-img" src="{{ site.baseurl }}{{ page.header-img }}" alt="">
    {% endif %}
</div>

<main class="g-container home-content">
    <div class="article-list">
        {% for post in paginator.posts %}
            <article class="article-item">
                {% if post.cover %}
                <div class="post-cover">
                    <a class="post-link" href="{{ post.url }}" title="{{ post.title }}"></a>
                    <img src="{{ post.cover }}" alt="">
                </div>
                {% endif %}
                <section class="post-preview">
                    <a class="post-link" href="{{ post.url }}" title="{{ post.title }}"></a>
                    <h2 class="post-title">{{ post.title }}</h2>
                    {% if post.subtitle %}
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    {% endif %}
                    {% if post.subtitle.size==0 or post.subtitle==nil %} 
                    <p class="post-excerpt">{{ post.excerpt | strip_html | strip_newlines | truncate: 126}}</p>
                    {% endif %}
                </section>
                <footer class="post-meta">
                    <div class="post-tags">
                        {% if post.tags.size > 0 %} 
                            {% for tag in post.tags  %}
                        <a href="tags#{{ tag }}" class="post-tag">{{ tag }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <time class="post-date" datetime="{{ post.date | date:"%y-%m-%d" }}">{{ post.date | date_to_string }}</time>
                </footer>
            </article>
        {% endfor %}

        {% if paginator %}
            {% include pageNav.html %}
        {% endif %}

    </div>

    <aside class="g-sidebar">
        <section class="author-card">
            <div class="avatar">
                <img src="{{ site.baseurl }}{{ site.avatar }}" alt="">
            </div>
            <div class="author-name" rel="author">{{ site.author }}</div>
            <div class="bio">
                <p>{{ site.bio }}</p>
            </div>
            {% if site.sns.size > 0 %}
            <ul id="sns-links" class="sns-links">
                {% for s in site.sns %}
                <li>
                    <a href="{{ s[1] }}" target="_blank">
                        <i class="iconfont icon-{{ s[0] }}"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>

        {% if site.recommend-tags and site.tags.size>0 %}
        <section class="tags-card">
            {% for tag in site.tags %}
                {% if forloop.index > site.recommend-condition-size %}
                    {% break %}
                {% endif %}
            <a href="tags#{{ tag[0] }}" class="tag">{{ tag[0]}}</a>
            {% endfor %}
        </section>
        {% endif %}

    </aside>

</main>

{% include footer.html %}
